@charset "UTF-8";
/* CSS Document */

/* CSS Document */

html, body {

  height: 100%;

}



.s-btn-hamburger {

  border-width: 1px;

  border-color: black;

}



.min-100 {

    min-height: 100vh;

}
.h-85{
	height:80%!important
}

.h-20{
	height:20%!important
}

.h-60{
	height:60%!important
}




.flex-fill {

    flex: 1 1 auto;

}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}
